---
import Layout from '../layouts/Layout.astro';
---

<Layout>

  <h1 class="page-title">About Me</h1>
  <p>I am Yamun Sharma—an anthropology and education researcher, educational innovator, and activist. Through my research and practice, I explore how learning, culture, and activism shape each other. In plain English, I spend a lot of time trying to figure out why humans make learning so complicated and inaccessible and what we can do about it.</p>

  <p>Inspired by academics such as Nancy Scheper-Hughes, David Graeber, Noam Chomsky, and Sarah Ahmed, my research grows out of a belief in an anthropology of activism: that scholarship should not only analyze the world but also contribute to transforming it.</p>

  <p>I am especially interested in how traditions and modernities shape, and are shaped by, everyday life; how alternative pedagogies challenge mainstream systems; and how educational cultures can nurture more just, creative, and humane societies. Ethnographic methods guide much of my work, as I see listening, observing, and storytelling as powerful tools for change.</p>

  <p><strong style="font-size: 1em;">Find my ORCID below:</strong></p>
  <p>
  <a href="https://orcid.org/0009-0001-1059-635X" 
     target="_blank" 
     rel="noopener" 
     style="font-size: 1em; font-weight: bold; color: green; text-decoration: underline;">
     ORCID iD: 0009-0001-1059-635X
  </a>
</p>

  <h2>About This Blog</h2>
  <p>
  This blog is a space where you’ll find my writing, reflections, and sometimes my art—digital doodling, fragments, and ideas, which often operate as my emotional and creative outlet. This blog is also a space for connection: with others who believe in the possibilities of alternative education, who care about culture and community, and who see activism as a form of knowledge-making in its own right.
</p>

<p>
  I’ve also designed this website myself using the Astro framework—something you might see as another one of my artworks.</p>

</Layout>
