---
import Layout from '../layouts/Layout.astro';
---

<Layout>

  <h1 class="page-title">Contact Me</h1>

  <p>You can reach out to me about pretty much everything academic-related at my email: 
    <a href="mailto:yamunsharma@outlook.com" style="font-weight: bold; text-decoration: underline;">yamunsharma@outlook.com</a>.
  </p>

  <p>For non-academic stuff, shoot me a meow-mail at my quirky email addresses: 
    <a href="mailto:yamun.meow@gmail.com" style="font-weight: bold; text-decoration: underline;">yamun.meow@gmail.com</a> or 
    <a href="mailto:contact@yamun.me" style="font-weight: bold; text-decoration: underline;">contact@yamun.me</a>.
  </p>

  <p>You can also reach out to me on my social media handles:</p>
  <ul>
    <li><a href="https://www.linkedin.com/in/yamun/" target="_blank" rel="noopener" style="font-weight: bold; text-decoration: underline;">LinkedIn</a></li>
    <li><a href="https://github.com/yamunmeow" target="_blank" rel="noopener" style="font-weight: bold; text-decoration: underline;">Git</a></li>
    <li><a href="https://www.facebook.com/yamun.sharma.31" target="_blank" rel="noopener" style="font-weight: bold; text-decoration: underline;">Facebook</a></li>
    <li><a href="https://x.com/yamunsharma" target="_blank" rel="noopener" style="font-weight: bold; text-decoration: underline;">X</a></li>
  </ul>

  <p>I try my best to reply to all the emails that I receive. However, if you do not receive a reply from me in over two weeks, feel free to send me a follow-up email. Also, in case you want me to attend to something urgently, please add "URGENT" to the subject line (or VERY URGENT if it concerns the climate change).</p>

</Layout>
