---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="page-title">Curriculum Vitae</h1>
  
  <h2>Education</h2>
  <ul>
    <li><strong>M.A. in Education, Migration, and Diversity (Erasmus Mundus Joint Master's Program)</strong> - University of Education, Schwäbisch Gmünd, Germany (2025-2027)</li>
    <li><strong>Erasmus+ Exchange Semester in Interdisciplinary Humanities</strong> - Tallinn University, Estonia (2024-2024)</li>
    <li><strong>B.A. in Liberal Arts and Humanities (Specialization in Social-Cultural Anthropology)</strong> - Charles University in Prague, Czech Republic (2022-2025)</li>
  </ul>
  
   <h2>Job Experience</h2>
  <ul>
    <li><strong>Moderator</strong> - Generation Global, Tony Blair Institute for Global Change (2022-2025)</li>
    <li><strong>People (HR) Intern</strong> - Anheuser-Busch InBev (2023-2023)</li>
    <li><strong>Fundraising Intern for Greenpeace India</strong> - Direct Dialogue India Pvt. Ltd (2022-2022)</li>
  </ul>

  <h2>Research Experience</h2>
  <ul>
    <li><strong>Digital Inequality and the Mobility Imperative: Study of Migration in the Pursuit of Opportunity, using Ethnographic methods, including Netnography, Digital Ethnography, and Autoethnography</strong> - University of Education, Schwäbisch Gmünd (2025-Present)</li>
    <li><strong>Studying Tradition and Modernity in the Festivals of the Indian Diaspora in the Czech Republic Using Ethnographic Methods</strong> - Charles University in Prague (2023-2025)</li>
  </ul>
  
  <h2>Academic Works</h2>
  <ul>
    <li>Sharma, Yamun. "Traditional Music Makes Me Crave Food": Modernity and Tradition in Indian Diaspora's Festivals in the Czech Republic . Bachelor's thesis, supervised by Verbuč, David. Prague: Charles University, Faculty of Humanities, Department of Social and Cultural Anthropology, 2025.
      <p><a href="http://hdl.handle.net/20.500.11956/199249">Permalink: https://hdl.handle.net/20.500.11956/199249</a></p>
    </li>
  </ul>

<h2>Major Projects</h2>
  <ul>
    <li><strong>EthnoCode:</strong> Working on an ethnographic coding and qualitative analysis software as a free, accessible, and user-friendly alternative - <strong>(2025-Present)</strong></li>
    <li><strong>Alekhni:</strong> Founded an educational innovation to train young people from the countries of the global majority in academic reading and writing, currently working on a peer-reviewed journal for high-school students - <strong>(2023-Present)</strong></li>
  </ul>

  <div class="social-links">
  <a href="/documents/Yamun-Sharma-CV.pdf" download class="download-btn">
    Download Full CV as PDF
  </a>
</div>

</Layout>

