---
const currentYear = new Date().getFullYear();
---
<footer>
  <div class="container">
    <div class="social-links">
      <a href="https://www.linkedin.com/in/yamun" aria-label="LinkedIn">LinkedIn</a>
      <a href="https://github.com/yamunmeow" aria-label="GitHub">Git</a>
      <a href="https://facebook.com/yamun.sharma.31" aria-label="Facebook">Facebook</a>
      <a href="https://x.com/yamunsharma" aria-label="X">X</a>
      <a href="https://orcid.org/0009-0001-1059-635X" aria-label="ORCID">ORCID</a>
    </div>
    <p class="copyright">© {currentYear} Yamun Sharma. All rights reserved.</p>
  </div>
</footer>