---
const siteTitle = "Yamun Sharma";
const siteSubtitle = "Researcher in Anthropology and Education. Innovator. Activist";
---
<header>
  <div class="container">
    <h1 class="site-title">{siteTitle}</h1>
    <p class="site-subtitle">{siteSubtitle}</p>
  </div>
</header>