---

import { getCollection } from 'astro:content';
const allPosts = await getCollection('blog');
const recentPosts = allPosts
  .sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime())
  .slice(0, 20); // Show up to 20 most recent
---

<aside class="sidebar">
  <div class="subscribe-widget">
    <h3>Subscribe to my Newsletter</h3>
    <p>Get updated on my latest posts</p>
    
    <!-- Substack Embed Iframe -->
    <div style="transform: scale(0.9); transform-origin: top left; width: 111%;">
      <iframe 
        src="https://yamun.substack.com/embed" 
        style="width: 100%; height: 680px; border: 1px solid #EEE; background:white;" 
        frameborder="0">
      </iframe>
    </div>
  </div>
  
  <div class="sidebar-widget">
    <h3>About Me</h3>
    <p>I am an anthropology and education researcher, educational innovator, and activist. I connect research and activism, inspired by the anthropology of activism.

My research interests are: traditions and modernities, alternative pedagogies, educational cultures, and ethnographic methods.

Through this blog, I hope to share my art, experiences, and ideas, and connect with other like-minded people.</p>
  </div>
  
  <div class="sidebar-widget">
    <h3>Recent Posts</h3>
    <ul>
      {recentPosts.length === 0 ? (
        <li>No posts found.</li>
      ) : (
        recentPosts.map(post => (
          <li><a href={`/blog/${post.slug}`}>{post.data.title}</a></li>
        ))
      )}
    </ul>
  </div>
</aside>
